/README.md filter=lfs diff=lfs merge=lfs -text
/.gitignore filter=lfs diff=lfs merge=lfs -text
/FinalProjectSources.txz filter=lfs diff=lfs merge=lfs -text
/inital_files/Project_Files/Makefile filter=lfs diff=lfs merge=lfs -text
/inital_files/Project_Files/constraints.xdc filter=lfs diff=lfs merge=lfs -text
/inital_files/Project_Files/recreate_xadc.tcl filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/Makefile filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/adc_bit.bit filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/adc_bit.hwh filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/CAccelProxy.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/CAccelProxy.hpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/CXADCProxy.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/CXADCProxy.hpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/PowerRanger.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/util.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/Pynq_Power_Ranger/src/util.hpp filter=lfs diff=lfs merge=lfs -text
/inital_files/data_bin/data.txz filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/Makefile filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/plot_res.py filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/plot_timings.py filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/run_all.sh filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/fxp_utils.h filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/radioastro.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/signal_processing.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/signal_processing.h filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/utils.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW/src/utils.h filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/Makefile filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/adc_bit.bit.txz filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/one.sh filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/plot_res.py filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/plot_timings.py filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/run_all.sh filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/CAccelProxy.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/CAccelProxy.hpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/CXADCProxy.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/CXADCProxy.hpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/fxp_utils.h filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/radioastro.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/signal_processing.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/signal_processing.h filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/utils.cpp filter=lfs diff=lfs merge=lfs -text
/inital_files/radioastro_SW_power_ranger/src/utils.h filter=lfs diff=lfs merge=lfs -text
/Validated_sol_archives/cost_solutions.ods filter=lfs diff=lfs merge=lfs -text
/id_0/HLS/fft_accel.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/HLS/fft_accel.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/HLS/fft_testbench.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/Project_Files/Makefile filter=lfs diff=lfs merge=lfs -text
/id_0/Project_Files/constraints.xdc filter=lfs diff=lfs merge=lfs -text
/id_0/Project_Files/recreate_xadc.tcl filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/Makefile filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/adc_bit.bit filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/adc_bit.hwh filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/CAccelProxy.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/CAccelProxy.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/CXADCProxy.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/CXADCProxy.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/PowerRanger.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/util.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/Pynq_Power_Ranger/src/util.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/data_bin/data.txz filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.apc/autopilot.apfmapping filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.cproject filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.project filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.settings/id_0_Vitis.Debug.launch filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.settings/id_0_Vitis.Release.launch filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.settings/language.settings.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/.vitis_hls_log_all.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/hls.app filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/.message_csim.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/.message_syn.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/all.directive.json filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/autopilot.flow.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/clang.diag.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/clang.err.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fe_messages.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.bc filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp.clang-tidy.loop-label.diag.yml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp.clang-tidy.loop-label.err.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp.clang-tidy.loop-label.out.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp.clang.diag.xml filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/db/fft_accel.pp.0.cpp.clang.err.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.autopilot/xcd.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/.debug/fft_HW.protoinst filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/Makefile.rules filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/csim.exe filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/csim.mk filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/fft_accel.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/obj/fft_accel.d filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/obj/fft_testbench.d filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/run_sim.tcl filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/build/sim.sh filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/report/_csim.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/csim/report/fft_HW_csim.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/directives.tcl filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/script.tcl filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/solution1.aps filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/solution1.directive filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/solution1.log filter=lfs diff=lfs merge=lfs -text
/id_0/id_0_Vitis/solution1/solution1_data.json filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/Makefile filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/plot_res.py filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/plot_timings.py filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/run_all.sh filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/fxp_utils.h filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/radioastro.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/signal_processing.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/signal_processing.h filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/utils.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW/src/utils.h filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/Makefile filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/adc_bit.bit.txz filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/one.sh filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/plot_res.py filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/plot_timings.py filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/run_all.sh filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/CAccelProxy.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/CAccelProxy.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/CXADCProxy.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/CXADCProxy.hpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/fxp_utils.h filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/radioastro.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/signal_processing.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/signal_processing.h filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/utils.cpp filter=lfs diff=lfs merge=lfs -text
/id_0/radioastro_SW_power_ranger/src/utils.h filter=lfs diff=lfs merge=lfs -text
